/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require rails_bootstrap_forms
 */
@import "bootstrap";
@import "font-awesome";

img.ico_reg_flag{
	height: 24px;	
}

#carouselExampleIndicators .carousel-item img{
	height: 187.5px;
}

#m_menu img{
	width: 68px;
	height: 45px;
	margin-left: 10px;
}

.fa{
	color: #000;
}

#weather_icon{
	height: 40px;
	width: 40px;
}

.datetime select:nth-child(1) {
  width: 80px;
  text-indent: 15px; 
}
